.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background: rgb(116, 116, 116);
  color: white;
}

.App .title {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.title img {
  height: 30px;
  transform: translateY(10px);
  user-select: none;
  -webkit-user-drag: none;
}

.App .searchBar {
  background: rgb(255, 235, 169);
  padding: 5px 16px;
  margin-bottom: 30px;

  border-radius: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar input {
  background: none;
  border: none;
  outline: none;
  font-size: 24px;

}

.searchBar button {
  background: none;
  border: none;
  outline: none;

  line-height: 0;

  font-size: 30px;
}

.searchBar button:disabled {
  opacity: 0.5;

  cursor: not-allowed;
}

.gifContainer {
  position: relative;
  flex: 1 1 auto;

  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin: 20px 100px;
  overflow: hidden;
  border-radius: 10px;

  z-index: 10;

  background: beige;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gifCardContainer {
  max-width: 500px;
}


.gifCardContainer.exitLeft {
  transition: 0.3s;
  transform: translateX(-600px) !important;
}

.gifCardContainer.exitRight {
  transition: 0.3s;
  transform: translateX(600px) !important;
}

@keyframes enterRight {
  0%{
    transform: translateX(600px);
  }
  100%{
    transform: translateX(0px);
  }
}

.gifCardContainer.enterRight {
  animation-name: enterRight;
  animation-duration: 0.5s;
  animation-delay: 100ms;

  animation-fill-mode: forwards;
}

@keyframes enterLeft {
  0%{
    transform: translateX(-600px);
  }
  100%{
    transform: translateX(0px);
  }
}

.gifCardContainer.enterLeft {
  animation-name: enterLeft;
  animation-duration: 0.5s;
  animation-delay: 50ms;

  animation-fill-mode: forwards;
}

.gifCardContainer::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  inset: 40px;

  box-shadow: 20px 20px 10px 40px rgba(0, 0, 0, 0.3);

  z-index: -1;

}

.gifCard img {
  max-width: 500px;
  width: 100%;
  max-height: 600px;
  border-radius: 10px;

  background-color: black;

  user-select: none;
  -webkit-user-drag: none;
}


.searchTypeButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: black;

  padding: 5px 15px;
  border-radius: 30px;

  position: relative;
}

.searchTypeButtons div {
  margin: 10px 20px;
  z-index: 10;
}

.searchTypeButtons span {
  --color: rgba(57, 224, 253, 1);
  position: absolute;
  width: 30%;
  height: 30%;
  border-radius: 30px;
  background: var(--color);
  box-shadow: 0 0 10px 10px var(--color);

  transform: translateX(-85%);
  z-index: 1;

  display: block;
  transition: 0.5s;
}

.searchTypeButtons.switch span {
  --color: rgb(81, 255, 81);
  transform: translateX(60%);
}

.goToSourceBtn button {
  background: rgb(0, 255, 13);
  border: none;
  outline: none;
  font-size: 25px;

  padding: 5px 20px;
  margin: 20px;

  border-radius: 20px;

  transition: 0.3s;
}

.goToSourceBtn button:hover {
  padding: 5px 30px;
}

.goToSourceBtn button:active {
  background: black;
  color: white;
}

@media (max-width: 600px) {
  .gifContainer {
    border-radius: 0;
  }
}